<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tampilan awal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  {{!-- CSS STYLING --}}
    <style>
      .*{
        margin:0px;
        padding:0px;
      }
      .header{
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        width: auto;

      }
      .container img{
    width: 75%;
    /* float: left; */
    align-self: center;

      }
      .navbar h1 {
    text-align: center;
    font-size: 60px;
    }
    .card{
      padding: 20px;
    margin-right: 30px;
    }
    .jawaban a {
    font-size: 150%;
    border: solid 2px red;
    margin-right: 20px;
    padding: 20px;
    }

        #icon img {
            width: 75px;
            height: 50px;
        }
        img#gambar {
            width: 25%;
        }
        p {
            font-size: large;
            font-weight: 600;
        }
        
        .card.col-sm-2 {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        a#tombol-kabupaten {
            margin-left: 43%;
            margin-right: 43%;
        }

        .card.col-sm-3 {
            margin-left: 35px;
            text-align: center;
        }
{{!-- UNTUK MODAL --}}
h5#exampleModalLabel {
    font-size: 30px;
    font-weight: bolder;
    margin-right: 25%;
    float:left;
}

button.close{
  float:right;
}

input.form-control {
    border: none;
    border-bottom: solid 2px grey;
    height: 7%;
    width: 75%;
    margin-left: 12%;

}

select.form-control {
  border: none;
    border-bottom: solid 2px grey;
    height: 7%;
    width: 75%;
    margin-left: 12%;
}

select option{
    height: 7%;
    width: 75%;
    margin-left: 12%;
}

.form-group {
    margin: 0px;
}

.card.col-sm-2 {
    text-align: center;
}

    </style>
</head>
<body>

  <nav class="navbar navbar-light bg-light">
    <div class="container">
    <a class="navbar" href="#">
      <div class="container">
      <h1>Provinsi & Kabupaten</h1>
      </div>
      
      <div class="card col-sm">
     <button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add Provinsi</button>
      </div>
      <div class="card col-sm">
     <button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd1">Add Kabupaten</button>
     </div>
     

    <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
  </div>
    </div>
     
    </div>
  </nav>
  <div class="container jawaban">
    <div class="card col-sm-3">
      <a href='/provinsi_tb'>Jawaban untuk no 4 A</a>
    </div>
    <div class="card col-sm-3">
      <a href='/kabupaten_tb'>Jawaban untuk no 4 B</a>
    </div>
    <div class="card col-sm-3">
      <a href='/pulau-tertentu'>Jawaban untuk no 4 c</a>
    </div>



  </div>
  

<div class="container">
  <div class="row">
          {{#each results}}
    <div class="card col-sm-2">
      <img src="{{ photo }}">
        <h3>{{ nama }}</h3>
        <p>{{ diresmikan }}</p>
        <a href="/provinsi/{{ id }}">Detail</button>
    </div>
    
    {{/each}}
  </div>




      <!-- Modal Add provinsi-->
      <form action="/add_provinsi" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add Provinsi</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">       
               <div class="form-group">
                   <input type="text" name="nama" class="form-control" placeholder="Nama Provinsi" required>
               </div>
 
               <div class="form-group">
                   <input type="text" name="diresmikan" class="form-control" placeholder="diresmikan tanggal" required>
               </div>
               <div class="form-group">
                   <input type="text" name="photo" class="form-control" placeholder="url photo" required>
               </div>
               <div class="form-group">
                   <input type="text" name="pulau" class="form-control" placeholder="pulau" required>
               </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
     </form>

 <!-- Modal Add kabupaten-->
      <form action="/add_kabupaten" method="post">
        <div class="modal fade" id="myModalAdd1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add Kabupaten</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">       
               <div class="form-group">
                   <input type="text" name="Nama" class="form-control" placeholder="Nama Kabupaten" required>
               </div>
 
               <div class="form-group">
                   <input type="text" name="Diresmikan" class="form-control" placeholder="diresmikan tanggal" required>
               </div>
               <div class="form-group">
                   <input type="text" name="photo" class="form-control" placeholder="url photo" required>
               </div>
               <div class="form-group">
                   <input type="number" name="provinsi_id" class="form-control" placeholder="id provinsi" required>
               </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
     </form>
        
  </div>
        
  </div>
  
  
       <a id="tombol-kabupaten"class="btn btn-success" href="/kabupaten-first"><button class="btn">Lihat Seluruh Kabupaten</button></a>
 
<script src="/assets/js/jquery-3.3.1.js"></script>
<script src="/assets/js/bootstrap.js"></script>

</body>
</html>