<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tampilan awal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  {{!-- CSS STYLING --}}
    <style>
      .*{
        margin:0px;
        padding:0px;
      }
      .header{
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        width: auto;

      }
      .container img{
        width: 8%;
        float: left;

      }
      .container button{
      
        float: right;
        margin-top: 40px;
        margin-right: 10%;
        width: 15%;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 41px;
        color: #FFFFFF;
        background: #FADC9C;
        border-radius: 10px;
        border: none;
      }

      .container h1{
          float: left;
          font-weight: 900;
          padding-left: 25%;
      }
        table{
        
          left: 104px;
          top: 231px;
        }

        thead{
        
          background: #fe4e30;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          border-radius: 20px 20px 0px 0px;

          font-family: Airbnb Cereal App;
          font-size: 30px;
          line-height: 39px;
          text-align: center;

          color: #FFFFFF;
        }

        tbody{
        
          background: #FFFFFF;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          border-radius: 0px 0px 20px 20px;
          font-family: Airbnb Cereal App;
          font-size: 30px;
          line-height: 39px;

          color: #000000;
        }

        #icon img {
            width: 75px;
            height: 50px;
        }
        img#gambar {
            width: 25%;
        }
        p {
            font-size: large;
            font-weight: 600;
        }
{{!-- UNTUK MODAL --}}
h5#exampleModalLabel {
    font-size: 30px;
    font-weight: bolder;
    margin-right: 25%;
    float:left;
}

button.close{
  float:right;
}

input.form-control {
    border: none;
    border-bottom: solid 2px grey;
    height: 7%;
    width: 75%;
    margin-left: 12%;

}

select.form-control {
  border: none;
    border-bottom: solid 2px grey;
    height: 7%;
    width: 75%;
    margin-left: 12%;
}

select option{
    height: 7%;
    width: 75%;
    margin-left: 12%;
}

.form-group {
    margin: 0px;
}

    </style>
</head>
<body>

  <nav class="navbar navbar-light bg-light">
    <a class="navbar" href="#">
      <h1>Provinsi & Kabupaten</h1>
     <button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add Provinsi</button>
     <button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd1">Add Kabupaten</button>
    </a>
  </nav>
  <a href='/provinsi_tb'>Jawaban untuk no 4 A<a>
  <a href='/kabupaten_tb'>Jawaban untuk no 4 B<a>
  <a href='/pulau-tertentu'>Jawaban untuk no 4 c<a>
  
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>

<div class="container">
  <div class="row">
          {{#each results2}}
    <div class="card col-sm">
      <img src="{{ photo }}">
        <h3>{{ Nama }}</h3>
        <p>{{ Diresmikan }}</p>
        <a href="/kabupaten/{{ id }}">Detail</button>
    </div>
    
    {{/each}}
  </div>


      <!-- Modal Add kabupaten-->
      <form action="/add_kabupaten" method="post">
        <div class="modal fade" id="myModalAdd1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add Kabupaten</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">       
               <div class="form-group">
                   <input type="text" name="Nama" class="form-control" placeholder="Nama Kabupaten" required>
               </div>
 
               <div class="form-group">
                   <input type="text" name="Diresmikan" class="form-control" placeholder="diresmikan tanggal" required>
               </div>
               <div class="form-group">
                   <input type="text" name="photo" class="form-control" placeholder="url photo" required>
               </div>
               <div class="form-group">
                   <input type="number" name="provinsi_id" class="form-control" placeholder="id provinsi" required>
               </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
     </form>
        
  </div>
  
 
<script src="/assets/js/jquery-3.3.1.js"></script>
<script src="/assets/js/bootstrap.js"></script>

</body>
</html>